$tablet-breakpoint: 660px;
$mobile-breakpoint: 500px;


$blue: #1BA4E9;
$purple: #A0239B;
$yellow:  #FFBA05;

$black: #000000;
$dark-gray: #999999;
$light-gray: #E0E0E0;
$white: #FFFFFF;

$article-header-border-color: $light-gray;
$article-published-date: $dark-gray;
$article-background-color: $white;
$article-link-text-color: darken($blue, 10%);
$author-name-color: $purple;
$blog-info-background-color: $light-gray;
$blog-info-container-color: $white;
$header-brand-color: $purple;
$tag-link-text-color: $purple;
$tag-paragraph-color: $dark-gray;
$related-article-link: $black;
$blockquote-background-color: lighten($light-gray, 5%);
$blockquote-white-background-color: $white;
